<ion-content class="inicio">

  <div class="hero">

    <div class="overlay"></div>

    <div class="content">
      <img src="assets/img/logo.png" class="logo">

      <h1>FL DIVAS</h1>
      <p>Street • Urban • Fashion</p>

      <ion-button class="btn-main" (click)="irAStore()">
        Explorar Colección
      </ion-button>
    </div>

  </div>

  <section class="highlights">

    <div class="item">
      <img src="assets/img/unisex1.jpg">
      <h3>Unisex</h3>
    </div>

    <div class="item">
      <img src="assets/img/unisex2.jpg">
      <h3>Streetwear</h3>
    </div>

    <div class="item">
      <img src="assets/img/unisex3.jpg">
      <h3>Accesorios</h3>
    </div>

  </section>

</ion-content>
